extends layout

block content
  main.min-h-screen.flex.flex-col.justify-center.items-center
    h1.text-4xl.font-extrabold.font-popins.text-gray-300.uppercase
      | 404 not found
    a.text-gray-300.underline(href="/")
      | Go back to home