extends layout

block stylesheets
  link(rel='stylesheet' href='/css/custom.css')

block content
  .flex.flex-col.justify-center.items-center.min-h-screen.pt-24.pb-4
    div
      if error
        .bg-red-400.rounded-md.mb-3.p-3.font-medium
          span.text-red-800.text-ellipsis.overflow-hidden Error: #{error}.
      div
        h1.text-2xl.font-extrabold.text-slate-200.tracking-tight.font-popins.w-fit(class='sm:text-3xl') 
          | Want to find multiple faceit accounts ?
      h2.font-medium.text-slate-300.underline 
        | Maximum of 10 accounts.
      h3.font-normal.text-slate-300
        | You need to separate the accounts with a comma.
      form.w-full(method='POST' action='/search')
        input#search(name='search')
        button.w-full.flex.justify-center.items-center.rounded-md.bg-gray-300.text-gray-700.mt-2.p-2.font-bold.transition-all.ease-in-out(
          class='hover:bg-gray-100' 
          type='submit') 
          | Search
block scripts
  script(src="/js/tagsInput.js")